.footer__bg{
  position: absolute;
  z-index: -1;
  transform: translate(-50%);
  margin-left: 50%;
}
.footer{
  position:relative;
  overflow:hidden;
}

.footer__contact{
  @extend .mb-4;
  h2,p{
    @extend .text-white, .text-center;
    margin-bottom:2.25rem;
  }
  h2{
    @extend .pt-5;
    font-size: 2rem!important;
  }
}

.footer__contact--detail{
  @extend .px-4, .text-white;
  span{
    font-weight: 600;
  }
  img{
    @extend .pr-2;
    padding-bottom:.4rem;
    height:1.75rem;
  }
}

.footer__legal{
  @extend .py-4;
  border-top: 1px solid rgba($white, .1);
}

.footer__legal__text{
  @extend .mb-0;
  font-size: 0.875rem;
  color: $white;
  text-align: center;
}

@include media-breakpoint-down(sm){
  .footer__bg{
    bottom: 0;
    height: 100%;
  }
}

@include media-breakpoint-up(md){
  .footer__bg{
    max-width: 150%;
    width: 150%;
  }
}
@include media-breakpoint-up(lg){
  .footer__bg{
  }
}

.hr__footer{
  border-color: $white;
  opacity:.25;
}
