.form__head{
  @extend .justify-content-start, .col-md-8;
}
.form__head--title{
  @extend .text-center;
  h3{
  }
}

.form__head__subtitle{
  @extend .text-center,.mb-5;
  opacity:0.3;
}


//labels

input[type="text"]:valid {
    width: 100% !important;
}

.forms__field__input__label{
  transition: all .3s;
  position: absolute;
  top: 1rem;
  font-size:1rem;
  opacity:0;
  visibility: hidden;
}

.forms__field__input__label--slider{
  @extend .forms__field__input__label;
  opacity:1;
  visibility: inherit;
}

.forms__field__input__label--full{
  position: absolute;
  top: -.6rem;
  font-size: 0.8rem;
  color: grey;
  opacity:1;
  visibility: initial;

}

.forms__textarea__input__label--full{
  @extend .forms__field__input__label--full;
  top: -1.6rem;

}
